<!-- Para carregar o modelo -->
{% extends 'paginas/modelo.html' %}
<!-- Para carregar a imagem -->
{% load static %}


<!-- colocar apenas o que vai substuir do modelo de base -->
{% block titulo %}
<title>Cadastro de Pessoa</title>
{% endblock %}
<!-- para excluir um desses modulos -->
{% block destaque %}
    <!-- só não colocar nada dentro -->
{% endblock %}
<!-- para substituir o conteudo -->
{% block conteudo %}
    <h3>Ficha Missa</h3>
    <p>ficha missa</p>

    <form>
        <div class="form-group">
            <label for="dtMissa">Data da Missa</label>
            <input class="form-control" type="date" id="dtMissa">
        </div>
        <div class="form-group">
            <label for="qtd">Quantidade</label>
            <input type="number" class="form-control" id="qtd" placeholder="Insira o telefone">
        </div>
      
      </form>
     
{% endblock %}