<!-- Para carregar o modelo -->
{% extends 'paginas/modelo.html' %}
<!-- Para carregar a imagem -->
{% load static %}

{% block conteudo %}
    <h3>Lista de Pessoas </h3>
<hr>
<div class="table-responsive">

    <table class="table table-striped" id="tabela_pessoa">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Cpf</th>
            <th>Arquivo</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in object_list %}
        <tr>
            <td>{{ pessoa.nome }}</td>
            <td> {{ pessoa.endereco }} </td>
            <td> {{ pessoa.telefone }} </td>
            <td> {{ pessoa.email }} </td>
            <td> {{ pessoa.cpf }} </td>
            
            <td> <a href="{{ pessoa.arquivo.url }}"> Visualizar Anexo </a> </td>
            <td> 
                <a href="{% url 'editar-pessoa' pessoa.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir-pessoa' pessoa.pk %}" class="btn btn-danger btn-sm">Excluir</a>
             </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhuma pessoa registrada!</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
   
     
{% endblock %}
{% block scripts %}

<script> 
   $(document).ready(function(){
    $("#tabela_pessoa").DataTable();
    
   
   });
</script>
{% endblock %}